<!-- features Section Start -->
<div id="app-features" class="section">
  <div class="container">
    <div class="section-header">
      <!-- <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">features</p> -->
      <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Amazing Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="content-left text-right">
          <div class="box-item left">
            <span class="icon">
              <i class="lni-leaf"></i>
            </span>
            <div class="text">
              <h4>User Friendly</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <i class="lni-dashboard"></i>
            </span>
            <div class="text">
              <h4>Super Fast Speed</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <i class="lni-headphone-alt"></i>
            </span>
            <div class="text">
              <h4>24/7 Support</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="show-box">
          <img src="assets/img/features/app1.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="content-right text-left">
          <div class="box-item right">
            <span class="icon">
              <i class="lni-shield"></i>
            </span>
            <div class="text">
              <h4>Secure</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <i class="lni-star-filled"></i>
            </span>
            <div class="text">
              <h4>Awesome Rating</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <i class="lni-cup"></i>
            </span>
            <div class="text">
              <h4>Award Winning</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- features Section End -->



<!-- Features Section Start -->
<div id="features-two" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img style="height: 25rem;width: 50rem;" class="img-fluid" src="assets/img/features/img1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
          <div>
            <p class="btn btn-subtitle">How It Works?</p>
            <h3>Our App Is Amazing!</h3>
            <p>Appropriately implement one-to-one catalysts for change vis-a-vis wireless catalysts for change.
              Enthusiastically architect adaptive e-tailers after sustainable total linkage.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="text-wrapper wow fadeInRight" data-wow-delay="0.9s">
          <div>

            <h3>Free Updates!</h3>
            <p>Appropriately implement one-to-one catalysts for change vis-a-vis wireless catalysts for change.
              Enthusiastically architect adaptive e-tailers after sustainable total linkage.Appropriately implement
              one-to-one catalysts for change vis-a-vis wireless catalysts for change.
              Enthusiastically architect adaptive e-tailers after sustainable total linkage.Appropriately implement
              one-to-one catalysts for change vis-a-vis wireless catalysts for change.
              Enthusiastically architect adaptive e-tailers after sustainable total linkage.</p>

          </div>
        </div>
      </div>
      <div *ngIf="store.isUserAuthenticated" class="col-lg-6 col-md-12 col-sm-12">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="1.2s">
          <img style="height: 25rem;width: 50rem;" class="img-fluid" src="assets/img/features/img2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features Section End -->













<!-- download Section Start -->
<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="download-thumb wow fadeInLeft" data-wow-delay="0.2s">
          <img style="height: 30rem;width: 50rem;" class="img-fluid" src="assets/img/mac.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="download-wrapper wow fadeInRight" data-wow-delay="0.2s">
          <div>
            <div class="download-text">
              <h4>Download Our App From Store</h4>
              <p>Appropriately implement one-to-one catalysts for change vis-a-vis wireless catalysts for change.
                Enthusiastically architect adaptive.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- download Section Start -->

<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Blog</p>
      <h2 class="section-title">Recent News</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img style="height: 25rem;width: 50rem;" src="assets/img/blog/img1.jpg" alt="">
            </a>

          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">How Proton Will Transform Your Business</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img style="height: 25rem;width: 50rem;" src="assets/img/blog/img2.jpg" alt="">
            </a>

          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">20 Growth Hacking Tips from Experts</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div *ngIf="store.isUserAuthenticated" class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img style="height: 25rem;width: 50rem;" src="assets/img/blog/img3.jpg" alt="">
            </a>

          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">Proton Has Been Launched, Get Started!</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->
